:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --color-footer: #2f303a;
  --accent-text-color: #000000;
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --color-section: #f5f4fa;
  --icons-color: #afb1b8;
  --card-set-gap: 30px;
  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --portfolio-card-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --section-pt: 94px;
  --section-pb: 94px;
  --title-padding: 20px;
  --items-studio-bg: rgba(47, 48, 58, 0.8);
}

body {
  background-color: var(--background-color);
  font-family: "Roboto", sans-serif, "Raleway", sans-serif;
  color: var(--title-text-color);
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}

/* .section {
  padding-top: 94px;
  padding-bottom: 94px;
} */

/* ==========HEADER========= */

.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;

  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

.logo-studio {
  font-family: "Raleway", sans-serif;
  color: var(--accent-text-color);

  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

/*=================site navigation==============*/

.header .container .navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  margin-left: 94px;
}

.navigation-list .navigation-item {
  position: relative;
}

.navigation-list .navigation-item + .navigation-item {
  margin-left: 50px;
}

.navigation-link {
  display: block;

  color: var(---background-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.activ-nav-link::after {
  content: "";
  position: absolute;
  display: block;

  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: var(--accent-color);
}

.navigation .link:hover,
.navigation .link:focus {
  color: var(--accent-color);
}

.navigation .link.current {
  color: var(--accent-color);
}

/* connection */

.connection-list {
  display: flex;
  margin-left: auto;
}

.connection-list .connection-item + .connection-item {
  margin-left: 50px;
}

.connection-list .connection-link {
  display: flex;
  align-items: center;
}

.connection-link {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.connection-link:hover .header-icon,
.connection-link:focus .header-icon,
.connection-link:hover,
.connection-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.header-icon {
  margin-right: 10px;
  align-items: center;
  fill: var(--primary-text-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.outline {
  outline: 1px solid #ececec;
}

/*===================hero========================*/

.hero .container {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-wrap {
  background-image: linear-gradient(
      to left,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/studio/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  display: block;
  margin: auto;
  color: var(--background-color);
  margin-bottom: 30px;

  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/*===================button========================*/

.button {
  display: block;
  margin: auto;
  font-family: inherit;
  border-radius: 4px;
  border: none;

  padding: 10px 32px;

  background-color: var(--accent-color);
  color: var(--background-color);

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;

  /* transition: backround-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.button:hover,
.button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*=========================section=================================*/
.advantage {
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
}

.advantage .advantage-list {
  display: flex;

  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.advantage-list > .advantage-item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.adv-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  width: 270px;
  height: 120px;
  background-color: var(--color-section);

  margin-bottom: 30px;
}

.advantage-title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.advantage-par {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
}

/*=========================occupation==============================*/

.occupation {
  padding-bottom: var(--section-pb);
}

.occupation .occupation-list {
  display: flex;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.occupation-list > .occupation-item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.occuation-title {
  color: var(--accent-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  margin-bottom: 50px;
}

.occupation-item {
  position: relative;
}

.occupation-inscription {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
}

.occupation-inscription {
  position: absolute;

  width: 100%;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;

  background-color: var(--items-studio-bg);
  color: var(--background-color);
}

/*==========================team==============================*/

.team {
  background-color: var(--color-section);
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
}

.team-list {
  display: flex;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.team-list > .team-item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);

  box-shadow: var(--card-shadow);
  border-radius: 4px;
}

.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  margin-bottom: 50px;
}

.team-element {
  background-color: var(--background-color);

  padding: 30px 32px;
}

.team-item {
  border-radius: 4px;
  overflow: hidden;

  box-shadow: var(--card-shadow);
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}

.team-par {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team .icons-list {
  display: flex;
  justify-content: space-between;
}

.link-icon-team {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  fill: var(--icons-color);

  border-radius: 50%;
  width: 44px;
  height: 44px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: 250ms cubic-bezier (0.4, 0, 0.2, 1);
}

.link-icon-team:focus,
.link-icon-team:hover {
  fill: var(--background-color);
  background-color: var(--accent-color);
}

/*   ============= Постоянные клиенты ===========     */

.clients {
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-title {
  color: var(--accent-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  margin-bottom: 50px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 90px;

  border: 1px solid var(--icons-color);
  border-radius: 4px;
  fill: var(--icons-color);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/*   ============== footer  ==============  */
/*================================footer=========================*/

.footer {
  background-color: var(--color-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-section {
  display: flex;
  align-items: baseline;
}

.address-footer {
  margin-right: 70px;
}

.logotyp-footer {
  color: var(--background-color);
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

.footer-link {
  display: inline-block;
  margin-bottom: var(--title-padding);
}

.connection-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: inherit;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.connection-footer:hover,
.connection-footer:focus {
  color: var(--accent-color);
}

.maps {
  color: var(--background-color);
  font-size: 14px;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.maps:hover,
.maps:focus {
  color: var(--accent-color);
}

.address-item {
  font-size: 14px;
  line-height: 1.71;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.join-us {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--background-color);
}

.web-social-icon {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-icon-network {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  fill: var(--background-color);
  background-color: rgba(255, 255, 255, 0.1);

  border-radius: 50%;
  width: 44px;
  height: 44px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon:not(:last-child) {
  margin-right: 10px;
}

.icon-footer .social-icon-network:hover,
.icon-footer .social-icon-network:focus {
  background-color: var(--accent-color);
}
/*======================================================PORTFOLIO==================================*/

/*===================buttons===============*/

.visually-hidden {
   {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
}

.buttons {
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
}

.buttons-list {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}

.buttons-list .button-item:not(:last-child) {
  margin-right: 8px;
}

.button-choice {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: inherit;
  cursor: pointer;

  padding: 6px 22px;

  border: rgba(255, 255, 255, 0.6);

  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-choice:hover,
.button-choice:focus {
  background-color: var(--accent-color);
  color: var(--background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*================menu====================*/

.menu-list {
  display: flex;
  flex-wrap: wrap;

  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.menu-list .menu-item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);

  border: 1px solid #eeeeee;
}

.team-item {
  overflow: hidden;
}

.menu-link {
  display: block;
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.87;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover .menu-item-overlay,
.menu-link:focus .menu-item-overlay {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

.menu-item-overlay {
  position: absolute;

  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  color: var(--background-color);
  overflow: hidden;

  font-size: 18px;
  line-height: 1.56;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-content {
  padding: var(--title-padding);
}

.menu-link:hover,
.menu-link:focus {
  box-shadow: var(--portfolio-card-shadow);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-title {
  color: var(--title-text-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

/* ========================END PORTFOLIO=================== */

/* ---------------modal------------------------ */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    pointer-events 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;

  width: 528px;
  height: 580px;
  background-color: var(--background-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);

  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
